<div class="col-sm-12 pl-0 pr-0">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/event">Event</a></li>
      <li class="breadcrumb-item active" aria-current="page">Topic</li>
      <li class="breadcrumb-item"><a href="#">Advance configuration</a></li>
      <li class="breadcrumb-item"><a href="#">Analysics</a></li>
    </ol>
  </nav>
</div>

<h4 class="text-left">{{ formTitle }}</h4>
<form [formGroup]="addForm" (ngSubmit) = "onSubmit()" >
  <div class="row">
    <div class="col-sm-2">Topic name:</div>
    <div class="col-sm-10">
      <input type = "text" class="col-sm-5 form-control" formControlName = "topicName" name = "topicName" [ngClass]="{ 'is-invalid': submitted && f.topicName.errors }">
      <div *ngIf="submitted && f.topicName.errors" class="invalid-feedback">
        <div *ngIf="f.topicName.errors.required">Topic name is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">Number of partitions:</div>
    <div class="col-sm-10">
      <input type = "number" class="col-sm-5 form-control" formControlName = "numOfPartition" name = "numOfPartition" [ngClass]="{ 'is-invalid': submitted && f.numOfPartition.errors }">
      <div *ngIf="submitted && f.numOfPartition.errors" class="invalid-feedback">
        <div *ngIf="f.numOfPartition.errors.required">Number of partitions is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">Replication factors:</div>
    <div class="col-sm-10">
      <input type = "number" class="col-sm-5 form-control" formControlName = "numOfFactor" name = "numOfFactor" [ngClass]="{ 'is-invalid': submitted && f.numOfFactor.errors }">
      <div *ngIf="submitted && f.numOfFactor.errors" class="invalid-feedback">
        <div *ngIf="f.numOfFactor.errors.required">Number of factors is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">Retention Time in ms:</div>
    <div class="col-sm-10">
      <input type = "number" class="col-sm-5 form-control" formControlName = "retentionTime"   name = "retentionTime" [ngClass]="{ 'is-invalid': submitted && f.retentionTime.errors }">
      <div *ngIf="submitted && f.retentionTime.errors" class="invalid-feedback">
        <div *ngIf="f.retentionTime.errors.required">Retention time is required</div>
      </div>
    </div>
  </div>

  <div class="shadow-none p-3 mb-2 bg-light rounded">
    <div class="row">
      <div class="col-sm-2">
        Advanced Configuration
        <a href="javascript:void(0);" (click)="toggle()">
          <i [ngClass] = "{'d-none': !show}" class="fa fa-arrow-circle-up"></i>
          <i [ngClass] = "{'d-none': show}" class="fa fa-arrow-circle-down"></i>
        </a>
      </div>
      <div class="col-sm-10">
          <i class="fa fa-info-circle text-primary" data-toggle="tooltip" data-placement="top" title="Upload json configuration file"></i>&nbsp;
          <input type="file" name = "fileUpload" id="file" (change)="handleFileInput($event.target.files)">
      </div>
    </div>
  </div>


  <ng-container *ngIf="show">
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-4">clean policy</div>
            <div class="col-sm-8">
              <select formControlName = "cleanPolicy" class="form-control col-sm-6"><option></option></select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">compression type</div>
            <div class="col-sm-8">
              <select formControlName = "compressionType" class="form-control col-sm-6"><option></option></select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">file.delete.delay.ms</div>
            <div class="col-sm-8">
              <input type="text" formControlName = "fileDeleteDelayMs" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">flush messages</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">follower.replication.throttled.replicas</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">delete.retention.ms</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">flush.ms</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">index.intervals.bytes</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-4">min.compaction.log.ms</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">leader.replication.throttled.replicas</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">max.message.bytes</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">message.downconversion.enable</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">message.format.version</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">mesage.timestamp.difference.max</div>
            <div class="col-sm-8">
              <input type="text" class="form-control col-sm-6" />
            </div>
          </div>


        <div class="row">
          <div class="col-sm-4">message.timestamp.type</div>
          <div class="col-sm-8">
            <input type="text" class="form-control col-sm-6" />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">mean.cleanable.dirty.ration</div>
          <div class="col-sm-8">
            <input type="text" class="form-control col-sm-6" />
          </div>
        </div>

        </div>
      </div>
    </div>

  </ng-container>


  <div class="row mt-2">
    <div class="col-sm-2"></div>
    <div class="col-sm-10 text-right">
      <input class="btn btn-sm btn-primary" *ngIf="isAddMode" type = "submit" value = "Save">
      <input class="btn btn-sm btn-primary" *ngIf="!isAddMode" (click)="clickMethod('name')" type = "button" value = "Update">
      <input class="btn btn-sm btn-danger" (click)="onReset()" type = "reset" value = "Reset">
    </div>
  </div>



</form>
