<h4 class="text-center"> ADD NEW TOPIC </h4>
<form [formGroup]="addForm" (ngSubmit) = "onSubmit()" >
  <div class="row">
    <div class="col-sm-2">Topic name:</div>
    <div class="col-sm-10">
      <input type = "text" class="col-sm-3 form-control" name = "topicName" placeholder = "Topic name" [ngClass]="{ 'is-invalid': submitted && f.topicName.errors }">
      <div *ngIf="submitted && f.topicName.errors" class="invalid-feedback">
        <div *ngIf="f.topicName.errors.required">Topic name is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">Number of partitions:</div>
    <div class="col-sm-10">
      <input type = "number" class="col-sm-3 form-control" name = "numOfPartition" placeholder = "Number of partitions" [ngClass]="{ 'is-invalid': submitted && f.numOfPartition.errors }">
      <div *ngIf="submitted && f.numOfPartition.errors" class="invalid-feedback">
        <div *ngIf="f.numOfPartition.errors.required">Number of partitions is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">Replication factors:</div>
    <div class="col-sm-10">
      <input type = "number" class="col-sm-3 form-control" name = "numOfFactor" placeholder = "Replication factors" [ngClass]="{ 'is-invalid': submitted && f.numOfFactor.errors }">
      <div *ngIf="submitted && f.numOfFactor.errors" class="invalid-feedback">
        <div *ngIf="f.numOfFactor.errors.required">Number of factors is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">Retention Time in ms:</div>
    <div class="col-sm-10">
      <input type = "number" class="col-sm-3 form-control" name = "retentionTime" placeholder = "Retention time" [ngClass]="{ 'is-invalid': submitted && f.retentionTime.errors }">
      <div *ngIf="submitted && f.retentionTime.errors" class="invalid-feedback">
        <div *ngIf="f.retentionTime.errors.required">Retention time is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">Other configuration:</div>
    <div class="col-sm-10">
      <input type = "text" class="col-sm-3 form-control" name = "configuration" placeholder = "Other configuration">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <input class="btn btn-sm btn-primary" type = "submit" value = "Save">
      <input class="btn btn-sm btn-danger" (click)="onReset()" type = "reset" value = "Reset">
    </div>
  </div>


</form>
