<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span><a href="/"><i class="fa fa-home"></i></a> | </span>
  <span><a href="/"> Eh Automation Portal</a> </span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="row">&nbsp;</div>
  <!-- Highlight Card -->
  <div class="row ml-1">
    <div class="col-sm-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Event</a></li>
          <li class="breadcrumb-item active" aria-current="page">Topic</li>
          <li class="breadcrumb-item"><a href="#">Advance configuration</a></li>
          <li class="breadcrumb-item"><a href="#">Analysics</a></li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Footer -->
  <footer>

  </footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


