@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #28446B;
  color: white;
  font-weight: 600;
}

.toolbar a{
  color: #ffffff;
  text-transform: none;
  font-size: 24px;
}

.toolbar span:first-child {
  margin: 0 16px;
  font-size: 24px;
}
.font-20px{
  font-size: 20px;
}

.toolbar div.col-sm-6{
  line-height: 60px;
}

input[type=checkbox]{
  max-width: 20px;
}

.footer{
  height: 100px;
  background: #000;
  color: #ffffff;
  vertical-align: middle;
  line-height: 100px;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar img {
  margin: 0 16px;
}
